body{
     color: white;
     background-color: black;
}

header { 
    border-bottem: solid 2px rgb(238, 139, 26);
    padding: 20px;
    font-size: 32px;
    color: rgb(189, 41, 41);
}

section{
       background-color:rgb(50, 23, 148);
       padding-top: 80px;
       padding-bottom: 80px;
       display: flex;
       justify-content: center;  
    }
